@mixin mask($img, $bgp: 0 0, $size: contain) {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: $size;
  -webkit-mask-image: url($img);
  -webkit-mask-position: $bgp;
}

$icons: ("arrow-right");

@each $icon in $icons {
  .icon-#{$icon} {
    @include mask("/assets/images/ico-#{$icon}.svg");
    display: inline-block;
  }
}
