:root {
  /* Primary Colors */
  --main: #1e3fae;
  --main-bg: #eff6ff;
  --snb-bg: #f7f9fe;
  --main80: rgba(30, 63, 174, 0.8);
  --main60: rgba(30, 63, 174, 0.6);
  --main40: rgba(30, 63, 174, 0.4);
  --main20: rgba(30, 63, 174, 0.2);
  --second-col: #1e40af;

  /* Neutral Colors */
  --white: #fff;
  --black: #222;
  --gray: rgb(107, 117, 125);
  --font-b: #505662;
  --font-g: #73787e;

  /* Calendar Colors */
  --calendar-red: #f31700;
  --calendar-blue: #2049d8;
  --calendar-assignment: rgba(189, 65, 209, 0.08);
  --calendar-assignment-t: #bd41d1;
  --calendar-discussion: rgba(9, 147, 247, 0.08);
  --calendar-discussion-t: #0993f7;
  --calendar-survey: rgba(12, 146, 113, 0.08);
  --calendar-survey-t: #0c9271;
  --calendar-exam: rgba(238, 112, 21, 0.08);
  --calendar-exam-t: #ee7015;
  --calendar-course-t: #8132e7;

  /* Alert/Status Colors */
  --red: #d45649;
  --red-dark: #991b1b;
  --red-bg: #fee2e2;
  --green: #0c9271;
  --green-bg: #dcfce7;
  --yellow: #ffd600;
  --yellow-darker: #b18209;
  --yellow-dark: rgb(229, 196, 18);
  --orange: rgb(238, 112, 21);
  --point-orange: #e33c1b;
  --blue: rgb(15, 114, 229);

  /* UI/Border Colors */
  --gray-bg: #f6f7f8;
  --gray-bg2: #f8f9fa;
  --border: #d6d6d6;
  --border1: #eaebed;
  --border2: #d9dae0;
  --border3: #9fa6ad;

  /* Dark Theme Colors */
  --dark-n: rgb(37, 41, 53);
  --dark-n90: rgba(37, 41, 53, 0.9);
  --dark-n80: rgba(37, 41, 53, 0.8);
  --dark-n60: rgba(37, 41, 53, 0.6);
  --dark-n20: rgba(37, 41, 53, 0.2);

  /* Highlight Colors */
  --purple: #6b21a8;
  --purple-bg: #f9f5ff;
  --sky: #61dafb;

  --background: var(--white);
  --text-color: var(--black);
  --secondary-text: var(--gray);
  --button-bg: var(--black);
  --button-text: var(--white);
  --border-color: var(--border);
  --card-bg: var(--white);
  --tag-bg: var(--gray-bg);
  --tag-text: var(--black);
  --overlay-bg: rgba(0, 0, 0, 0.7);
  --hover-bg: var(--main80);
}

html[data-theme="dark"] {
  /* Dark Theme Colors */
  --background: var(--dark-n);
  --text-color: var(--border1);
  --secondary-text: var(--border1);
  --button-bg: var(--main60);
  --button-text: var(--border1);
  --border-color: var(--font-b);
  --card-bg: #2e374b;
  --tag-bg: rgba(255, 255, 255, 0.18);
  --tag-text: var(--border1);
  --overlay-bg: rgb(107, 117, 125, 0.8);
  --gray: var(--border1);
  --gray-bg: rgba(0, 0, 0, 0.07);
  --main-bg: rgba(0, 0, 0, 0.4);
  --hover-bg: var(--main80);
}

$colors: (
  "main": var(--main),
  "main-bg": var(--main-bg),
  "snb-bg": var(--snb-bg),
  "main80": var(--main80),
  "main60": var(--main60),
  "main40": var(--main40),
  "main20": var(--main20),
  "second-col": var(--second-col),
  "white": var(--white),
  "black": var(--black),
  "gray": var(--gray),
  "font-b": var(--font-b),
  "font-g": var(--font-g),
  "calendar-red": var(--calendar-red),
  "calendar-blue": var(--calendar-blue),
  "calendar-assignment": var(--calendar-assignment),
  "calendar-assignment-t": var(--calendar-assignment-t),
  "calendar-discussion": var(--calendar-discussion),
  "calendar-discussion-t": var(--calendar-discussion-t),
  "calendar-survey": var(--calendar-survey),
  "calendar-survey-t": var(--calendar-survey-t),
  "calendar-exam": var(--calendar-exam),
  "calendar-exam-t": var(--calendar-exam-t),
  "calendar-course-t": var(--calendar-course-t),
  "red": var(--red),
  "red-dark": var(--red-dark),
  "red-bg": var(--red-bg),
  "green": var(--green),
  "green-bg": var(--green-bg),
  "yellow": var(--yellow),
  "yellow-darker": var(--yellow-darker),
  "yellow-dark": var(--yellow-dark),
  "orange": var(--orange),
  "point-orange": var(--point-orange),
  "blue": var(--blue),
  "gray-bg": var(--gray-bg),
  "gray-bg2": var(--gray-bg2),
  "border": var(--border),
  "border1": var(--border1),
  "border2": var(--border2),
  "border3": var(--border3),
  "dark-n": var(--dark-n),
  "dark-n90": var(--dark-n90),
  "dark-n80": var(--dark-n80),
  "dark-n60": var(--dark-n60),
  "dark-n20": var(--dark-n20),
  "purple": var(--purple),
  "purple-bg": var(--purple-bg),
  "sky": var(--sky),
);

$sizes: (
  "size8": 8px,
  "size10": 10px,
  "size11": 11px,
  "size12": 12px,
  "size13": 13px,
  "size14": 14px,
  "size15": 15px,
  "size16": 16px,
  "size18": 18px,
  "size20": 20px,
  "size22": 22px,
  "size24": 24px,
);

@each $semantic, $color in $colors {
  .bgc-#{$semantic} {
    background-color: $color;
  }

  .txt-#{$semantic} {
    color: $color;
  }

  .otl-#{#{$semantic} } {
    border: 1px solid $color;
  }

  .otlt-#{#{$semantic} } {
    border-top: 1px solid $color;
  }

  .otlb-#{#{$semantic} } {
    border-bottom: 1px solid $color;
  }

  .otll-#{#{$semantic} } {
    border-left: 1px solid $color;
  }

  .otlr-#{#{$semantic} } {
    border-right: 1px solid $color;
  }

  .otlx-#{#{$semantic} } {
    border-right: 1px solid $color;
    border-left: 1px solid $color;
  }

  .otly-#{#{$semantic} } {
    border-top: 1px solid $color;
    border-bottom: 1px solid $color;
  }

  .bgc-#{$semantic}-hov:hover {
    background-color: $color !important;
  }
}

@each $semantic, $size in $sizes {
  .#{$semantic} {
    font-size: $size !important;
  }
}

.b {
  font-weight: 700 !important;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flexWrap {
  flex-wrap: wrap;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flex0 {
  flex-grow: 0;
}

.flex1 {
  flex-grow: 1;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.alignStart {
  align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: flex-end;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyBetween {
  justify-content: space-between;
}

// align
.tl {
  text-align: left !important;
}

.tc {
  text-align: center !important;
}

.tr {
  text-align: right !important;
}

.overHidden {
  overflow: hidden !important;
}

.overAuto {
  overflow: auto !important;
}

.pointer {
  cursor: pointer;
}

.noSelect {
  user-select: none;
}

.hover {
  &-underline {
    &:hover {
      text-decoration: underline;
    }
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.sticky {
  position: sticky;
}

@for $i from 0 through 100 {
  .top#{$i} {
    top: #{$i}px;
  }

  .bottom#{$i} {
    bottom: #{$i}px;
  }

  .left#{$i} {
    left: #{$i}px;
  }

  .right#{$i} {
    right: #{$i}px;
  }
}

.noWrap {
  white-space: nowrap;
}

.z99 {
  z-index: 99;
}

.z999 {
  z-index: 999;
}

.displayNone {
  display: none;
}

@for $i from 1 to 50 {
  .gap#{$i} {
    gap: #{$i}px;
  }

  .gap-#{$i} {
    & > div:not(:first-child) {
      margin-left: -#{$i}px;
    }
  }
}

.shadow1 {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
}

@mixin ellipsis($line: 1) {
  @if ($line ==1) {
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }

  word-break: break-all;
}

@for $i from 1 through 5 {
  .ellipsis#{$i} {
    @include ellipsis($i);
  }
}

/* 스크롤바의 폭 너비 */
* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #a8adc0;
    border-radius: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f2f5f8;
  }
}

.mini-scroll::-webkit-scrollbar {
  width: 4px;
}

.mini-scroll::-webkit-scrollbar-thumb {
  background: #a8adc0;
  border-radius: 4px;
  width: 4px;
}

.mini-scroll::-webkit-scrollbar-track {
  background: #f2f5f8;
}

// font-weight
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

@for $i from 1 through 100 {
  .r#{$i} {
    border-radius: #{$i}px;
  }
}

@for $i from 1 through 300 {
  .w#{$i} {
    width: #{$i}px;
  }

  .minw#{$i} {
    min-width: #{$i}px;
  }

  .h#{$i} {
    height: #{$i}px;
  }

  .minh#{$i} {
    min-height: #{$i}px;
  }

  .p#{$i} {
    padding: #{$i}px;
  }

  .pl#{$i} {
    padding-left: #{$i}px;
  }

  .pr#{$i} {
    padding-right: #{$i}px;
  }

  .pt#{$i} {
    padding-top: #{$i}px;
  }

  .pb#{$i} {
    padding-bottom: #{$i}px;
  }

  .px#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }

  .py#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }

  .m#{$i} {
    margin: #{$i}px;
  }

  .ml#{$i} {
    margin-left: #{$i}px;
  }

  .mr#{$i} {
    margin-right: #{$i}px;
  }

  .mt#{$i} {
    margin-top: #{$i}px;
  }

  .mb#{$i} {
    margin-bottom: #{$i}px;
  }

  .mx#{$i} {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }

  .my#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }
}

// 0px
.p0 {
  padding: 0;
}

.pl0 {
  padding-left: 0;
}

.pr0 {
  padding-right: 0;
}

.pb0 {
  padding-bottom: 0;
}

.pt0 {
  padding-top: 0;
}

.px0 {
  padding-left: 0;
  padding-right: 0;
}

.py0 {
  padding-top: 0;
  padding-bottom: 0;
}

.m0 {
  margin: 0;
}

.ml0 {
  margin-left: 0;
}

.mr0 {
  margin-right: 0;
}

.mb0 {
  margin-bottom: 0;
}

.mt0 {
  margin-top: 0;
}

.mx0 {
  margin-left: 0;
  margin-right: 0;
}

.my0 {
  margin-top: 0;
  margin-bottom: 0;
}

.r0 {
  border-radius: 0;
}

.minh400 {
  min-height: 400px;
}

// width 비율
.wid-40 {
  width: 40%;
}

.wid-45 {
  width: 45%;
}

.wid-50 {
  width: 50%;
}

.wid-55 {
  width: 55%;
}

.wid-60 {
  width: 60%;
}

.wid-70 {
  width: 70%;
}

.wid-80 {
  width: 80%;
}

.wid-100 {
  width: 100%;
}
